<div class="conteudo">
<img class="img "src=".\assets\computador.png">
<h1 class="infpessoais" id="nome">Gustavo Hideki</h1>
<div class="infpessoais" id="curso">Desenvolvimento de Sistemas</div>
<div class="infpessoais" id="objetivo">Programador Full-stack</div>
<div class="infpessoais" id="hobbies">Jogar video-game, futebol  </div>
<a href="linkedin" class="infpessoais" id="linkedin"></a>
<a href="https://github.com/gutakeuchi" class="infpessoais" id="github">@gutakeuchi</a>

</div>

<div class="conteudo">
  <img class="img "src=".\assets\computador.png">
  <h1 class="infpessoais" id="nome">Gustavo Hideki</h1>
  <div class="infpessoais" id="curso">Desenvolvimento de Sistemas</div>
  <div class="infpessoais" id="objetivo">Programador Full-stack</div>
  <div class="infpessoais" id="hobbies">Jogar video-game, futebol  </div>
  <a href="linkedin" class="infpessoais" id="linkedin"></a>
  <a href="https://github.com/gutakeuchi" class="infpessoais" id="github">@gutakeuchi</a>

  </div>

<router-outlet></router-outlet>
