@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
  margin: 0;
  padding:0;
}
.conteudo{
  text-align: center;
  background-color: purple;
  color: white;
  height: 50%;
}
.infpessoais{
 padding-bottom: 20px;
 font-family: 'Silkscreen', cursive;
 text-shadow:

               -1px -1px 0px rgb(87, 87, 87),
               -1px 1px 0px rgb(87, 87, 87),
                1px -1px 0px rgb(87, 87, 87),
                1px 0px 0px rgb(87, 87, 87);
}
#github{
  color: white;
  text-decoration: none;
}
.img{
  height:200px;
  width:200px;

}
